




.important
{
font-size: 72px;
color: yellow;
float:right;
/* IDEA: make colors flash or gradually change, find color-from-array based on nesting position */

border-color: green;
background-color: red;
width:30%;
}
.column
{
  float:right;
}
h1 {
float:center;
  text-align: right;
  border-color: green;
  background-color: red;
  width:30%;
}

h2 {
}
p {


}

ul {
  font-size: 20px;
  line-height: 30px;
}

}
.rot
{

}
.rot:hover
{

        animation-name: rotate;
        animation-duration: .4s;
        animation-iteration-count: infinite;



}
@font-face {

    font-family: 'Jokerman'; /*a name to be used later*/
    src: url(./css/fonts/Jokerman-Regular.ttf); /*URL to font*/
}
@media screen and (min-width:500px)
{

  p {

      font-family: 'Jokerman';
      background-color: darkgreen;
  }

}
@media screen and (min-width:699px) {

  #Celery
  {

    animation-name: celery;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transition: all 1s;

  }

}

#Celery:
{

}
@keyframes celery {
  0%  {transform: translateX(0px) scaleX(-1);}
  15% {transform: translateX(0px) scaleX(1);}
  40% {transform: translateX(500px) scaleX(2) ;}
  50% {transform: translateX(500px) scaleX(1);}
  76% {transform: translateX(500px) scaleX(-1);}
  90%  {transform: translateX(0px) scaleX(-2);}
  100%  {transform: translateX(0px) scaleX(-1);}
}
@keyframes rotate {

  0%  {transform: rotate(000deg);}

  100% {transform:rotate(359deg);}
          #z-index:100;
}
